.footer {
  color: #ff6986;
  height: 2rem;
  font-size: 1rem;
  text-align: center;

  p{
    margin-top: 3rem;

    a{
      color: #67fce1;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}