$primary-color: #ff6986;
$secondary-color: #67fce1;
$color-light: #fff;
$color-dark: #000;

.navbar {
    align-items: center;
    background-color: $color-light;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    width: 100vw;
    z-index: 5;

    .navbar__logo {
        background: url(../views/img/logo.png) no-repeat center center/cover;
        height: 4rem;
        width: 10rem;
    }

    
    .navbar__list {
        align-items: center;
        color: #000;
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        .list__item {
            display: inline-block;

            .item__link {
                color: $color-dark;
                display: block;
                padding: 2rem 1.5rem;
                text-decoration: none;

                &:hover {
                background-color:$primary-color;
                cursor: pointer;
                }
            }
        }
    }
    
}
